@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');




*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
#main{
  height: 100vh;
}


#tick {
    text-align : center ;
    margin-top: 80px ;
}
#thenks {
    text-align : center ;
    font-size : 50px ;
}
#congomadafaka {
    text-align : center ;
    font-size : 30px ;
    margin-top: 10px;
    padding : 10px ;
}
a {
  text-decoration: none ;
    color : white ; 
}
.btn {
  display: table;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
  margin: 0 auto;
  position: absolute;
  left: 45%;
  top:60%;
}

  
 
  